.formMenu {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: min(480px, 30vw);
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 40px;
    height: fit-content;
}

.formRow * {
    margin-left: 5px;
    margin-right: 5px;
}

.formActionElement {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;

    font-size: 1em;
    cursor: pointer;
}

.noBorder, .noBorder:hover, .noBorder:active, 
.noBorder:focus, .noBorder:enabled {
    border: none;
}

.mediumWidth {
    width: 48%;
}

.maxWidth {
    width: 100%;
}

.array {
    display: flex;
    flex-wrap: wrap;
}

.arrayItem {
    --item-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: var(--item-size);
    height: var(--item-size);

    border: 2px solid #000000;
}

.currentItem, .swappedItem, .minItem, .tmpItem, .partitionResultItem,
.currentPartitionItem, pivotItem {
    transition: 0.5s;
}

.currentItem {
    background-color: #6c5af7;
}

.swappedItem {
    background-color: #9c3412 !important;
}

.minItem, .partitionResultItem {
    background-color: #da9b13;
}

.tmpItem {
    background-color: #bceb86;
}

.currentPartitionItem {
    border-color: #c01515;
}

.pivotItem {
    background-color: #f75a7c;
}